body {
	text-align: center;
}

h1 {  
	font-size: 50px;  
}

.my-font-size1 {  
	font-size: 25px;  
}

.my-font-size2 {  
	font-size: 18px;  
}

.my-padding30 {
	padding: 0 30px;
}

.my-padding50 {
	padding: 0 50px;
}

.my-title {
	padding: 30px 0;
}

.my-bg-red {
	background-color: rgb(210, 47, 37);
	padding: 30px 0;
	color: white;
	text-align: center;
}

.my-bg-gray {
	background-color: rgb(233, 233, 233);
	padding: 30px 0;
	color: black;
	text-align: center;
}

.my-bg-blue {
	background-color: rgb(0, 84, 166);
	padding: 10px 0;
	color: white;
	text-align: center;
}

.my-bg-white {
	padding: 30px 0;
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 80%;
}

.my-font-italic {
	font-style: italic;
}

.btn {
  /* very advanced typography */
  line-height: 1em;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: red;
  /* mess with how it looks! very excite */
  border: 2px solid transparent;
  margin: 0 10px 10px 0;
  padding: 6px 14px;
  /* boring */
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  width: auto;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* alternate looks */
  /* animation stuff */
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: red;
  text-decoration: none;
}
.btn.pill {
  border-radius: 24px;
}
.btn.fill {
  background: red;
}
.btn.white {
  color: black;
}
.btn:hover.fill {
  background: none;
  border: 2px solid red;
  color: red;
}
.btn:hover.white {
  color: red;
  border-color: red;
}
