body {
	text-align: center;
}

h1 {  
	font-size: 50px;  
}

.my-font-size1 {  
	font-size: 25px;  
}

.my-font-size2 {  
	font-size: 18px;  
}

.my-padding30 {
	padding: 0 30px;
}

.my-padding50 {
	padding: 0 50px;
}

.my-title {
	padding: 30px 0;
}

.my-bg-red {
	background-color: rgb(210, 47, 37);
	padding: 30px 0;
	color: white;
	text-align: center;
}

.my-bg-gray {
	background-color: rgb(233, 233, 233);
	padding: 30px 0;
	color: black;
	text-align: center;
}

.my-bg-blue {
	background-color: rgb(0, 84, 166);
	padding: 10px 0;
	color: white;
	text-align: center;
}

.my-bg-white {
	padding: 30px 0;
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 80%;
}

.my-font-italic {
	font-style: italic;
}

.btn {
	word-wrap:break-word;
	display: inline-block
}

